body{
    font-size: 18px;
    table {
        margin-top: 50px;
    }
    table th, table td{
        background-color: white;
    }
}


#text1{
    color: rgb(49, 137, 236);
}

#text2{
    color: rgba(250, 121, 15, 0.815);
}